.head-ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.head-subtitle {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 20px;
}

.head-subtitle2 {
    color: white;
    font-size: 14px;
}

.novbar {
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: space-between;
}

header {
    background-color: #1B6392;
    padding-bottom: 40px;
    height: 135px;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;

}

#header2 {
    background-color: white;
    top: 135px;
    height: 100px;
}


.next a {
    color: #5F6C72;
}

.head-select {
    width: 100px;
    height: 25px;
    border: none;
    /* background-color: white; */
    outline: none;
    background-color: #1B6392;
    color: white;
    transition: 0.5s
}

.head-select:hover option {
    background-color: white;
    color: black;
}

.head-class {
    display: flex;
    padding-top: 25px;
}

.head-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.head-form {
    width: 100px;
}

.head-titlefrom {
    width: 550px;
    height: 38px;
    padding-left: 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    padding-right: 20px;
}

.head-logo {
    padding-left: 480px;

}

.next {

    padding-top: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.head-select2 {
    width: 160px;
    height: 38px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: whitesmoke;
    transition: 0.7s;
    padding-left: 12px;
}

.head-select2:hover {
    background-color: #FA8232;
    color: white;
}

.head-select2:hover option {
    background-color: whitesmoke;
    color: black;
}

.head-btn {
    border: 1px solid black;
    width: 100px;
    align-items: center;
}

.head-class2 {
    display: flex;
    align-items: center;
    gap: 10.5px;
    color: silver;
}

.head-class3 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: silver;
    padding-left: 350px;

}

.head-logo-bar {
    width: 30px;
    border: none;
    display: none;
}

@media (max-width:780px) {
    .head-ul {
        display: none;
    }

    .head-logo-bar {
        display: block;
    }

    .head-titlefrom {
        width: 350px;
        margin-left: -400px;
        height: 37px;
    }

    .head-logo {
        display: none;
    }

    #header2 {
        white-space: nowrap;
        padding-left: 20px;
        font-size: 14px;
    }

    .head-class {
        margin-left: 20px;
    }

    .head-class img {
        width: 120px;
    }

    .head-subtitle {
        padding-left: 20px;
        font-size: 12px;
    }
}

@media (max-width:440px) {
    .head-ul {
        display: none;
    }

    .head-logo-bar {
        display: block;
    }

    .head-titlefrom {
        width: 210px;
        margin-left: -130px;
        height: 30px;
        font-size: 10px;

    }

    .head-logo {
        display: none;
    }

    #header2 {
        white-space: nowrap;
        font-size: 14px;
        overflow: scroll;
        margin-right: 20px;
    }

    #header2 img {
        width: 25px;
    }

    .head-class3 {
        display: none;
    }

    .head-class {
        margin-left: 20px;
    }

    .head-class img {
        width: 130px;
    }

    .head-subtitle {
        font-size: 10px;
        padding-right: 50px;
    }
}

@media (max-width:390px) {
    .head-ul {
        display: none;
    }

    .head-logo-bar {
        display: block;
    }

    .head-titlefrom {
        width: 180px;
        margin-left: -100px;
        height: 25px;
        font-size: 10px;
    }

    .head-logo {
        display: none;
    }

    #header2 {
        white-space: nowrap;
        font-size: 12px;
        overflow: scroll;
        margin-right: 20px;
    }

    #header2 img {
        width: 18px;
    }

    .head-class3 {
        display: none;
    }

    .head-class {
        margin-left: 20px;
    }

    .head-class img {
        width: 110px;
    }

    .head-subtitle {
        font-size: 10px;
        padding-right: 50px;
    }
}